.stepper {
    width: 55%;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    position: relative;
    ul{
        padding: 0;
        list-style-type: none;
        display: flex;
        
        justify-content: space-evenly;
        li{
            text-align: center;
            flex: 33%;
        }
        li:before{
            content: '';
            display: inline-block;
            width: 80%;
            height: 8px;
            border-radius: 800px;
            background-color: #F0F0F6;
            box-sizing: border-box;
            margin-bottom: .5rem;
            transition: all .2s ease-out;
        }
        .active::before{
            background-color: #030732;
        }
    }
    

   
}


@media screen and (max-width:768px){
   .stepper{
    width: 100%;
   }
}
