.consent {
    .input_holder {
        position: relative;
        margin-block-end: 2rem;

        input {
            box-sizing: border-box;
            width: 100%;
            padding: .5rem 1rem;
            font-size: clamp(16px, 1vw, 22px);
            padding: .8rem 1rem;
            border: none;
            border-radius: 25px;
            border: 1px solid #cccccc41;
         
        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            color: #ccc;
        }

        .icon {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.8rem;
            background: white;
            padding: .5rem;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            right: 2px;
        }
    }
    .hint{
        margin: 5rem auto;
        text-align: center;
        font-size: clamp(14px,.8vw,20px);
        line-height: 1.6;
padding-inline: 4rem;        
    }
}

@media screen and (max-width:768px) {
    .hint{
        padding-inline: 4rem;
    }
}
@media screen and (max-width: 576px) {
    .hint{
        padding-inline: 1rem;
    }
}