.header {
    position: relative;
    padding-top: 3rem;
    align-items: center;
    display: flex;

    .imgHolder {
        margin: 0 auto;
        width: 4.5rem;
        img {
            width: 100%;
            border-radius: 100%;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }

    .icon {
        font-size: 2rem;
        cursor: pointer;
        border-radius: 50%;
        padding: .2rem;
        transition: all .2s ease-in;
        position: absolute;
        left: 3rem;
    }

    .icon:hover {
        background: #eee;
    }

}

@media screen and (max-width:768px) {
    .header {
        padding-top: 1.5rem;
        .imgHolder {
            width: 4rem;
        }
        .icon {
            left: 1.5rem;
            font-size: 1.5rem;
        }
    }
}